.flex-container {
    padding: 16px;
    background-color: beige;
    margin-top: 5px;
}

.select {
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
}

.card {
    background-color: blanchedalmond;
    height: auto;
    width: auto;
    align-items: flex-start;
}
